@keyframes shatleft {
    0% {
        transform: translateX(0%);
    }
    10% {
        transform: translateX(-10%);
    }
    50% {
        transform: translateX(-50%);
    }
    70% {
        transform: translateX(-70%);
    }
    100% {
        transform: translateX(-100%);
        background-color: transparent
    }
}

@keyframes shatright {
    0% {
        transform: translateX(0%);
    }
    10% {
        transform: translateX(10%);
    }
    50% {
        transform: translateX(50%);
    }
    70% {
        transform: translateX(70%);
    }
    100% {
        transform: translateX(100%);
        background-color: transparent
    }
}

@keyframes wiggle {
    0% {
        transform: skewX(24deg);
     } 
    10% {transform: skewX(-8deg); filter: saturate(270%)}
    20% {transform: skewY(55deg); }
    30% {transform: skewX(-90deg) translateX(1000%)}
    40% { transform: skewX(29deg); filter: invert(100%);}
    50% {transform: skewX(-90deg); filter: saturate(170%)}
    60% {transform: skewY(3deg); }
    70% {transform: skewX(-2deg) translateX(-1000%)}
    80% {transform: translateX(1000%); }
    90% {transform: skewY(10deg); filter: hue-rotate(50deg);}
    100% {transform: skewX(0deg); filter: saturate(870%)}
}

@keyframes changes{
    0% {text-shadow:0 0 0 black;}
    10% {text-shadow:-2px -2px 0 black;}
    20% {text-shadow:0 0 0 black;}
    21%{color:white;}
    22%{color:rgba(255,255,255,0.8);}
    23%{color:white;}
    50% {text-shadow:1px 1px 0 black;}
    60% {text-shadow:0 0 0 black;}
    70% {text-shadow:1px 1px 0 black;}
    80% {text-shadow:2px 2px 0 black,-2px -2px 0 gray; color:white;}
    81%{color:transparent;}
    82% {text-shadow:0 0 0 black;color:white;}
    83%{/* color:transparent; */}
    84% {text-shadow:0 0 0 black;color:rgba(255,255,255,0.3);color:white;}
     85% {text-shadow:-5px -5px 0 black, 5px -2px 0 white, 5px 3px 0 gray;color:white;}
    86%{text-shadow:0 0 0 black;}
    100%{text-shadow:0 0 0 black;}
  }


  @keyframes wiggle-text {
    0% {
        transform: skewX(24deg);
     } 
    5% {transform: skewX(-8deg);}
    10% {transform: skewY(55deg) translateX(20%)}
    15% {transform: skewX(-90deg); }
    20% { transform: skewX(29deg) translateX(-10%)}
    25% {transform: skewX(-90deg) translateY(-10%)}
    35% {transform: skewY(3deg) translateX(20%)}
    45% {transform: skewX(-2deg) translateX(-20%) translateY(-100%)}
    50% {transform: translateX(10%);}
    55% {transform: skewY(10deg); }
    60% {transform: skewX(0deg) translateX(2000%) translateY(10%)}
    65% {transform: skewX(-8deg);}
    70% {transform: skewY(55deg);}
    75% {transform: skewX(-90deg) translateX(20%) translateY(-20%)}
    80% { transform: skewX(29deg) translateX(-10%)}
    85% {transform: skewX(-90deg);}
    90% {transform: skewY(3deg) translateX(20%)}
    95% {transform: skewX(-2deg) translateX(-2000%) translateY(10%)}
    100% {transform: translateX(10%);}
}

@keyframes animate{
    0%{
    background-position: 0 0;
    filter:hue-rotate(0deg);
    }
    10%{
    background-position: 5px 0;
    }
    20%{
    background-position: -5px 0;
    }
    30%{
    background-position: 15px 0;
    }
    40%{
    background-position: 5px 0;
    }
    50%{
    background-position: -25px 0;
    }
    60%{
    background-position: -50px 0;
    }
    70%{
    background-position: 0 -20px;
    }
    80%{
    background-position: -60px -20px;
    }
    81%{
    background-position: 0 0;
    }
    100%{
    background-position: 0 0;
    filter:hue-rotate(360deg);
    }
  }
